<template>

    <el-dialog :title="titleDialog" :visible="showDialog"   @close="close"   append-to-body top="7vh">
        <Keypress key-event="keyup" :key-code="40" @success="handle402" />
      <Keypress key-event="keyup" :key-code="38" @success="handle382" />
      <Keypress key-event="keyup" :key-code="13" @success="handle132" />
        <form autocomplete="off" @submit.prevent="submit">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12" v-if="warehouses">                     

                      
<el-table
            ref="singleTable2"
            :data="unit_type"
            highlight-current-row
            @current-change="handleCurrentChange2"
            style="width: 100%"
            >
            
               <el-table-column property="description" label="Nombre" width="180">
                </el-table-column>
                <el-table-column width="140" label="Precio">
                                  
                                      <template slot-scope="{row}">                                        
                                        <span v-if="row.price_default == 1" > {{row.price1}} <b> {{row.description}}</b></span>
                                        <span v-else-if="row.price_default == 2" > {{row.price2}} <b> {{row.description}}</b></span>
                                        <span v-else-if="row.price_default == 3" > {{row.price3}}   <b> {{row.description}}</b></span>
                                      </template>
                                    </el-table-column>
                 <el-table-column width="80" label="">
                <template slot-scope="{row}" >
                                            <button @click="setPriceItem(row)" type="button" class="btn btn-custom btn-xs"><i class="fas fa-check"></i></button>
                                        </template>
                </el-table-column>
            </el-table>
           
                    </div>
                </div>
            </div>
            <div class="form-actions text-right pt-2">
                <el-button @click.prevent="close()">Cerrar</el-button>
            </div>
        </form>
    </el-dialog>
</template>

<script>

 import Keypress from 'vue-keypress'
    export default {
         components: {Keypress},
        props:['showDialog', 'warehouses', 'unit_type'],
        
        data() {
            return {
                showImportDialog: false,
                resource: 'items',
                recordId: null,
                titleDialog: 'Stock de producto',
                 currentIndex2: 0,
                 currentRow2: null
            }
        },
        created() {
            //console.log(this.typeUser)
        },
        methods: {
            close() { 
                this.$emit('update:showDialog', false)
            },
             setPriceItem(row)
                 {
                     //this.$emit('clickAddItem', item,index2)
                 console.log(row)
                 
                 console.log("DDD")
                 },
                 handleCurrentChange2(val) {
            this.currentRow2 = val;
        },
        handle132()
        {
            

            if(this.unit_type.length == 1)
            {
               
                   console.log("click record 1 INSERT ")
                   this.$emit('update:showDialog', false)
                   this.swd=true
            }
            else{

                if(this.currentRow2)
                {
                    
                    console.log("CLICK INSERT")
                    this.$emit('update:showDialog', false)
                    this.swd=true
                }

            }


        },
        handle402()
        {
           
            this.currentIndex2 +=1;

            if(this.unit_type[this.currentIndex2])
            {
                this.setCurrent2(this.unit_type[this.currentIndex2])
            }
            else{
                this.currentIndex2= 0
                this.setCurrent2(this.unit_type[0])
            }

        },
        handle382()
        {
            


            if(this.currentIndex2 == 0)
            {
                return
            }
            this.currentIndex2 -=1;
            this.setCurrent2(this.unit_type[this.currentIndex2])

        },
        setCurrent2(row) {
            this.$refs.singleTable2.setCurrentRow(row);
        },
        handleCurrentChange2(val) {
            this.currentRow2 = val;
        },
        }
    }
</script>
